user_uuid="3fffbe00-6c46-402b-bfce-8fe34ad165fe"
bucket_name="jvf0qijub046z6nj13vhm9463gjgf9g7"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2