terratowns_endpoint="https://terratowns.cloud/api"
krakow = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/krakow"
  content_version = 1 
}
recipe = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/recipe"
  content_version = 1 
}
